.no-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../../graphics/Error404.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lucida Console';
}

.content {
    text-align: center;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    transform: translateY(-250px);
}

@media screen and (max-height: 600px) {
    .content {
        transform: translateY(0);
    }
}

.home-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #fda329;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: rgb(139, 138, 138);
}
