.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal h2 {
    text-align: center;
    color: #FEA831; 
  }
  
  .registration-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .registration-form label {
    display: block;
    font-size: 14px;
    color: #333333;
  }
  
  .registration-form a {
      display: block;
      text-align: right;
      color: #FEA831;
      text-decoration: none;
  }
  
  .registration-form .register-submit {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: none;
      color: #ffffff;
      background-color: #FEA831;
  }
  
  .modal p {
      text-align: center;
  }
  
  .modal p a {
      color: #FEA831; 
      text-decoration: none;
  }

  .registration-form .register-submit{
    margin-top:-20px;
  }

  .registration-form span{
    cursor: pointer;
    color: #707070;
  }
  
  .registration-form span:hover{
    color: #FEA831;
  }
